<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huadian.dao.SysUsersMapper" >
  <resultMap id="BaseResultMap" type="com.huadian.bean.SysUsers" >
    <result column="ryid" property="ryid" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
     ryid ryid,real_name userName, password
  </sql>
  <select id="selectByPrimaryKey"
          resultMap="BaseResultMap"
          parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where ryid = #{ryid,jdbcType=VARCHAR} and delete_flg = 0
  </select>

  <select id="selectByLoginIdShowPwd" resultMap="BaseResultMap" >
    select ryid ,
           real_name userName,
          `password`
    from sys_user
    where
      concat(real_name,replace(birthday,'-','')) = #{loginId,jdbcType=VARCHAR}
    and delete_flg=0
  </select>

  <select id="selectByRealNameAndPwd" resultMap="BaseResultMap">
    select ryid,
           real_name userName,
           `password`
    from sys_user
    where real_name = #{realName}
      and `password` = #{password}
      and delete_flg = 0
  </select>

  <insert id="insertUser" parameterType="java.util.Map">
    INSERT INTO sys_user (ryid, real_name, birthday, `password`, delete_flg)
    VALUES (#{ryid}, #{real_name}, '2000-01-01', #{password}, 0)
  </insert>

</mapper>